@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
::-webkit-scrollbar{
  display: none;
}

*{
  margin: 0;
  padding: 0;
   box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}


body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('https://img.freepik.com/premium-photo/3d-rendering-purple-blue-abstract-geometric-background-advertising-product-display_51768-325.jpg'); */
   background-image: linear-gradient(135deg, #f0d4d4, #aac5f7);
  background-size: cover;
  background-attachment: fixed;
  /* animation: changebackground 5s linear infinite; */
  background-repeat : no-repeat;
}
